<header>
    <link rel="stylesheet" href="/css/header/header.css" />
    <div id="header-info">
        <img src="/images/logo.jpg">
        <span id="title">BionicHawk Porfolio</span>
    </div>
    <div id="header-actions">
        <button id="aboutBtn">About</button>
        <button id="projectsBtn">Projects</button>
        <button id="contactBtn">Contact</button>
    </div>
</header>

<script type="module" src="/scripts/header/header.js"></script>