<link rel="stylesheet" href="/css/contact/contact.css">

<div class="contact-view">
    <div class="contact-section">
        <h1>Contact me!</h2>
        <p>
            If I could help you with your project, you can contact me with the following
        </p>
        <a id="emailLink" href="mailto:<%= data.email %>">Send me an email</a> 
    </div>
</div>