<link rel="stylesheet" href="/css/projects/components/fullscreen.css">

<div id="fsch-image">
    <div id="image">
        <button>
            <img src="/images/actions/close.svg" alt="Close button">
        </button>
    </div>
</div>