<div class="ProjectsContainer">
    <link rel="stylesheet" href="/css/projects/projects.css">
    <div class="ProjectCard">
        <h2>Title</h2>
        <div class="slide">
            <button class="slidebutton prev">
                <img src="/images/actions/prev.svg">
            </button>
            <button class="slidebutton next">
                <img src="/images/actions/next.svg">
            </button>
            <div class="slide-elements">
                <img active src="https://ralfvanveen.com/wp-content/uploads/2021/06/Placeholder-_-Glossary.svg">
                <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg">
                <img src="https://horizonvets.com/wp-content/uploads/2019/10/placeholder-300x300.png">
            </div>
        </div>
        <h2>Description</h2>
    </div>
</div>