<div class="ProjectsContainer">
    <link rel="stylesheet" href="/css/projects/projects.css">
    <div class="ProjectCard">
        <h2>Title</h2>
        <div class="slide">
            
        </div>
        <h2>Description</h2>
    </div>
</div>