<div class="StackContainer">
    <link rel="stylesheet" href="/css/about/stack.css">
    <% tecnologies.forEach(tecnology => { %>
        <a href="<%= tecnology.docUrl %>" target="_blank" class="CardLink">
            <div class="StackItem">
                <img src="<%= tecnology.image %>">
                <span><%= tecnology.name %></span>
            </div>
        </a>
    <% }) %>
</div>